<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width">
<title><%= title %></title>
<link rel="stylesheet" href="/stylesheets/font.css" />
<link rel="stylesheet" href="/stylesheets/style.css" />
<link rel="stylesheet" href="/stylesheets/style_portrait.css" />
<link rel="stylesheet" href="/stylesheets/menu.css" />
<link rel="stylesheet" href="/stylesheets/symbols.css" />
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCW8z6OyEs30ngb3S1o5cgW0g3x2e5POQU&sensor=true&language=ja"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/javascripts/map.js"></script>
<script src="/javascripts/socket.js"></script>
</head>
<body>
	<div class="welcome">
		<div class="header">
			<h1>IMA-COKO</h1>
		</div>
		<div>
			<h2>アナタドコ？<br>イマココ<br>ミンナドコ？</h2>
			<p>Welcome to <%= title %></p>
			<div id='disp'>
				<div class="selectIcon">
					<p>アイコンを選択してください。</p>
					<p class="symbol-normal" rel="普通"></p>
					<p class="symbol-lady" rel="女性"></p>
					<p class="symbol-megane" rel="眼鏡"></p>
					<p class="symbol-angry" rel="憤怒"></p>
					<p class="symbol-dog" rel="犬"></p>
					<p class="symbol-alien" rel="宇宙人"></p>
					<p class="symbol-ghost" rel="幽霊"></p>
					<p class="symbol-zombie" rel="ゾンビー"></p><br>
				</div>
				<input type="text" id="cocoName" value="" placeholder="名前を入れてください">
				<input type='button' id='btnFree' value='フリーマップで表示'>
				<input type='button' id='btnPrivate' value='プライベートマップで表示'>
			</div>
			<div>
				<p>更新履歴：</p>
				<table border="1">
					<tr><td>8/15</td><td>サービスイン</td></tr>
					<tr><td>8/19</td><td>接続者リストを表示、+bugfix</td></tr>
					<tr><td>8/20</td><td>位置取得時の精度を向上、<br>メニューにデバッグ表示を追加、<br>+bugfix</td></tr>
					<tr><td>8/21</td><td>xss対策のため、名前のサニタイジング処理を追加</td></tr>
				</table>
			</div>
		</div>
	</div>
	<div class="menu">
		<div class="menu_setting">
			<ul>
				<li id="menuClose" class="">メニューを閉じる</li>
				<li id="route" class="item off">経路を表示（未実装）</li>
				<li id="myself" class="item on">自分を表示する</li>
				<li id="debug" class="off">デバッグ情報を表示する</li>
				<li>（未設定）</li>
				<li>（未設定）</li>
			</ul>
		</div>
		<div class="menu_list">
			<p>接続者リスト</p>
			<div class="inner">
				<ul>
					<li>接続者</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="info hide">
		<dl>
			<dt>緯度(latitude)</dt><dd id="latitude"></dd>
			<dt>経度(longitude)</dt><dd id="longitude"></dd>
			<dt>精度(accuracy)</dt><dd id="accuracy"></dd>
<!--
			<dt>高度(altitude)</dt><dd id="altitude"></dd>
			<dt>方向(heading)</dt><dd id="heading"></dd>
			<dt>速度(speed)</dt><dd id="speed"></dd>
-->
			<dt>位置情報タイムスタンプ(timestamp)</dt><dd id="timestamp"></dd>
		</dl>
		<div>状態：<span></span></div>
	</div>
	<div id="map_canvas"></div>
<script>
$(function () {
	// 地図とソケットを初期化
	if(navigator.geolocation){
		map.initMap(doClickMap);
		initSocket(watchSuccess, watchError);
	} else {
		window.alert("対応外");
	}

	// 自分の位置をサーバへ送信する
  $('#btnFree').on('click', function() {
		emit_login();
		watchFlg = true;
  });

	// アイコンを選択
	$('div.selectIcon p').click(function(e) {
		console.log('select icon');
	});

	// Welcomeボタンイベント
	$('#btnFree').click(function(e) {
		var div = $('div.welcome').addClass('opacity0');
		setTimeout(function() {
			div.addClass('hide');
		}, 500);
	});

	// メニュー：閉じる
	$('#menuClose').click(function() {
		$('div.menu').removeClass('menuIn');
	});

	// メニュー：選択
	$('div.menu li.item').click(function () {
		$(this).toggleClass('on').toggleClass('off');
		emit_login();		
	});

	// メニュー：接続者リスト
	$(document).on ('click', 'div.menu_list li.item', function() {
		$(this).toggleClass('on').toggleClass('off');
		emit_login();
	});
	
	$('#debug').click(function () {
		$(this).toggleClass('on').toggleClass('off');
		$('div.info').toggleClass('hide');
		$('#menuClose').click();
	});
});

// mapクリックイベント
function doClickMap(e) {
	var menu = $('div.menu');
	menu.toggleClass('menuIn');

	if (event.preventDefault) {
		event.preventDefault();
	} else if (event.returnValue) {
		event.returnValue = false;
	}
}

// 接続者リストをクリア
function clearMemberList() {
	$('div.menu_list').html('<p>接続者リスト</p><div></div>');
}

// 接続者リストを初期化
function initMemberList(data) {
	data = saveMemberList(data);
	clearMemberList();
	var list = $('div.menu_list div').append('<ul></ul>');
	data.forEach(addMember);
	return data;
}

//接続リストの設定保存
function saveMemberList(data){
	//デフォルトの設定をonにする
	data = data.map(function(d){d.dispflg=true;return d;});
	$('div.menu_list li').each(function(){
		var text = $(this).text();
		if($(this).hasClass("on")){
			data = data.map(function(d){
				if(d.name == text){
					d.dispflg = true;
				}
				return d;
			})
		}else{
			data = data.map(function(d){
				if(d.name == text){
					d.dispflg = false;
				}
				return d;
			})
		}
	});
	return data;
}

// 接続者リストを追加
function addMember(data) {
	var classtext;
	if(data.dispflg){
		classtext = "item on";
	} else {
		classtext = "item off";
	}
	$('div.menu_list ul').append('<li class="' + classtext + '">' + data.name + '</li>');
}

// 位置取得正常
watchSuccess=function(pos) {
	$('#latitude').text(pos.coords.latitude);
	$('#longitude').text(pos.coords.longitude);
	$('#accuracy').text(pos.coords.accuracy);
	$('#altitude').text(pos.coords.altitude);
	$('#heading').text(pos.coords.heading);
	$('#speed').text(pos.coords.speed);
	$('#timestamp').text(new Date(pos.timestamp));

	$('div.info span').text("位置取得 成功");
}

// 位置取得失敗
watchError=function(e) {
	$('div.info span').text("位置取得 失敗: "+e.code+" "+e.message);
}
</script>
</body>
</html>

