<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width">
<title><%= title %></title>
<link rel="stylesheet" href="/stylesheets/font.css" />
<link rel="stylesheet" href="/stylesheets/style.css" />
<link rel="stylesheet" href="/stylesheets/style_portrait.css" />
<link rel="stylesheet" href="/stylesheets/menu.css" />
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCW8z6OyEs30ngb3S1o5cgW0g3x2e5POQU&sensor=true"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/javascripts/map.js"></script>
<script src="/javascripts/socket.js"></script>
</head>
<body>
	<div class="welcome">
		<div class="header">
			<h1>IMA-COKO</h1>
		</div>
		<div>
			<h2>アナタドコ？<br>イマココ<br>ミンナドコ？</h2>
			<p>Welcome to <%= title %></p>
			<div id='disp'>
				<input type="text" id="cocoName" value="" placeholder="名前を入れてください">
				<input type='button', id='btn', value='OK'>
			</div>
		</div>
	</div>
	<div class="menu">
		<div class="menu_setting">
			<ul>
				<li id="menuClose" class="">メニューを閉じる</li>
				<li id="route" class="item off">経路を表示</li>
				<li id="myself" class="item on">自分を表示する</li>
				<li>（未設定）</li>
				<li>（未設定）</li>
				<li>（未設定）</li>
				<li>（未設定）</li>
				<li>（未設定）</li>
				<li>（未設定）</li>
				<li>（未設定）</li>
				<li>（未設定）</li>
				<li>（未設定）</li>
				<li>（未設定）</li>
				<li>（未設定）</li>
				<li>（未設定）</li>
				<li>（未設定）</li>
				<li>（未設定）</li>
				<li>（未設定）</li>
			</ul>
		</div>
		<div class="menu_list">
			<p>接続者リスト</p>
			<ul>
				<li>接続者</li>
				<li>接続者</li>
				<li>接続者</li>
			</ul>
		</div>
	</div>
	<div id="map_canvas"></div>
<script>
$(function () {
	// 地図とソケットを初期化
	if(navigator.geolocation){
		initMap(doClickMap);
		initSocket();
	} else {
		window.alert("対応外");
	}

	// Welcomeボタンイベント
	$('#btn').click(function(e) {
		var div = $('div.welcome').addClass('opacity0');
		setTimeout(function() {
			div.addClass('hide');
		}, 500);
	});

	// メニュー：閉じる
	$('#menuClose').click(function() {
		$('div.menu').removeClass('menuIn');
	});

	// メニュー：選択
	$('div.menu li.item').click(function () {
		$(this).toggleClass('on').toggleClass('off');
		emit_login();		
	});
});

// mapクリックイベント
function doClickMap(e) {
	var menu = $('div.menu');
	menu.toggleClass('menuIn');
}
</script>
</body>
</html>

