* {
	margin: 0px;
	padding: 0px;
}

html {
	width: 100%;
	height: 100%;
}

.opacity0 {
	opacity: 0;
}
.hide {
	display: none;
}

body {
	width: 100%;
	height: 100%;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

div.welcome {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 99;
	background: rgba(0, 0, 0, .5);
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
	display: table-cell;
	vertical-align: middle;
}


div#map_canvas {
	width: 100%;
	height: 100%;
}

